/* Web Programming Project 1 - Done by Tejeswi Devi Priya Pillarisetty - N01654962 
                                       Rajyalakshmi Ketharaju - N01635480 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fbf8d9;
  color: maroon;
}

/* Header */

header img {
  width: 100%;
  padding: 0;
  height: 100%;
}
header{
  color: rgb(223, 216, 213);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;left: 0;right: 0;
  z-index: 1000;
  padding:0.5rem 0%;
  border-bottom: .1rem solid rgba(255,255,255,.3);
  background: #010103;
  
}
header img{
  height: 5rem;
  padding:3%;
}

#login{
  float: right;
}
.nav-div{
/* margin: 0 1rem; */
font-size: 1.6rem;
align-items: center;
}
.navbar{
  /* position: absolute; */
  width: 90rem;
  padding-left: 1rem;
  
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin:0 1rem;
  font-size: 1.3rem;
  }
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
  }
.navbar a:hover{
  background-color: rgb(247, 131, 77);
  padding-bottom: .5rem;
}
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.heading{
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
  margin-top: 15rem;
}

.heading span{
  color:rgb(247, 131, 77);
  text-transform: uppercase;
}

.header .icons div{
  color: #fff;
  cursor: pointer;
  font-size: 2.5 rem;
  
}
.cycle-slideshow {
  position: relative;
  margin: 0 auto;
}



/* Main */
main {
  width: 100%;
  height: auto;
}

main img {
  width: 100%;
  height: 500px;
}

.things {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: bisque;
  padding: 1%;
  width: 30%;
  height: auto;
  border: 2px solid;
  margin: 1.5%;
}

.part {
  clear: both;
  margin: auto;
}

.part h2 {
  font-family: "Marker Felt", fantasy;
  text-align: center;
  font-size: 50px;
  clear: both;
  width: 60%;
  margin: 0 auto;
  padding-top: 2%;
}

.part p {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 1% 8% 0 10%;
}

.middle {
  display: flex;
  justify-content: center;
}

.rightfloat {
  float: right;
  width: 30%;
  height: 130px;
  padding: 0 5% 0 5%;
}

.things {
  width: 30%;
  height: auto;
  padding: 1%;
  float: left;
  border: 2px solid;
  margin: 1.5%;
}

.things img {
  width: 80%;
  height: 250px;
}

.things h3 {
  padding-top: 3%;
}

.things p {
  text-align: left;
  padding: 5% 0 0 0;
}

.product-list {
  display: none;
}

.product-list h2 {
  text-align: center;
  font-size: 40px;
  color: #5b7d5b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  background-color: #0d0d0d;
  clear: both;
  font-family: "Gabriola", sans-serif;
  font-size: 18px;
  color: white;
}

.leftfloat {
  float: left;
  width: 20%;
  padding-left: 6%;
}

.leftfloat img {
  height: 80%;
  width: 70%;
  padding: 20% 0 0 0.5%;
}

.leftfloat p {
  font-size: 16px;
}

.social {
  padding: 2% 2% 0 15%;
  width: 48%;
  float: left;
}

.social a {
  padding-left: 5%;
}

.social img {
  padding-top: 0.5%;
  width: 30px;
  height: 30px;
}

.contactus {
  float: right;
  padding: 1%;
  width: 30%;
}

.contactus a {
  text-decoration: none;
  color: #fbf8d9;
  font-weight: 800;
}

.copyright {
  clear: both;
  padding: 1%;
}

.copyright p {
  padding-left: 2%;
}

/* Mobile view */
@media screen and (max-width: 580px) {
  header img {
    display: none;
   }
 
   header {
     flex-direction: column;
     padding-bottom: 1rem;
     position: relative;
   }
   
   .navbar {
     width: 100%;
     padding-left: 0;
   }
 
   .navbar a {
     display: block;
     padding: 1rem 0;
     text-align: center;
   }
   #login{
    float: none;
   }

  main img {
    height: 300px;
  }

  .rightfloat {
    width: 50%;
    padding-bottom: 2%;
  }

  .part {
    padding: 2%;
  }

  .part h2 {
    width: 90%;
    padding-bottom: 3%;
  }

  .middle .things {
    width: 45%;
  }
  .things img {
    width: 100%;
    height: 200px;
  }

  .things {
    margin-bottom: 3%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftfloat {
    display: none;
  }

  .leftfloat img {
    width: 70%;
    height: 150px;
  }

  .social {
    float: right;
    width: 80%;
    padding: 0;
    text-align: center;
    padding-bottom: 2%;
  }

  .contactus {
    width: 100%;
    text-align: center;
  }

  .copyright p {
    padding: 0;
    margin: 0;
    padding-bottom: 5%;
  }

  .copyright hr {
    width: 160%;
    margin-left: -30%;
  }
}
